<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Source link"
            class="com.apishore.sourcelink.SourcelLinkPreferencePage"
            id="com.apishore.sourcelink.SourcelLinkPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.apishore.sourcelink.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <Generic></Generic>
      <Generic></Generic>
   </extension>

</plugin>
